
/* Style for the "awesome break" */
.awesome-break {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #137e71, #f60303);
  margin: 40px 0;
}

/* Style for animated break */
.awesome-break.animated {
  width: 100%;
  height: 5px;
  background-color: #008CBA;
  margin: 40px 0;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.awesome-break-gradient {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #f06, #ffcc00, #00f);
  margin: 50px 0;
}


.awesome-break-dotted {
  border-bottom: 2px dotted #ff6347;
  margin: 40px 0;
}
